.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  align-items: top;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  max-height: 100px;
  max-width: 320px;
  width: 100%;
  padding: 18px 12px;
  background-color: #c3cfe2;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
