.head {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.title {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 48px;
  color: #f5576c;
  margin: 0;
}

.add {
  align-self: center;
  position: relative;
  border: none;
  fill: #15bb15;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
